@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
.App {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.chat-container {
  height: 500px;
  display: flex;
  width: 100%;
}
.chat-messages {
  height: 100%;
  padding: 0px 12px;
}
