.headerDropdownContainer {
  width: 500px;
  border: 1px solid red;
  text-align: center;
}
.dropdownItemsContainer {
  display: flex;
  flex-direction: column;
}
.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
.dropdownItem:hover {
  background-color: #caf0f8;
}
.dropdownSearch {
  padding: 10px 20px;
}
.message {
  display: block;
  max-width: 45%;
  word-wrap: break-word;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
